# 1.Manupulating using a list.
 i) to add new elements to the end of the list.
 ii)to reverse elements in the list.
 iii)to display the same list of elements multiple times
 iv)to concatinate two lists.
 v)to sort the elements in the list in ascending order.

In [102]:
#i) to add new elements to the end of the list
l=[1,2,3,4,"lucy","debrah"]
l.append(["america",1]) #using append
l.extend([1,2,3,4]) #using extend which adds the idividual elements of the iterables to the end of the list.
l

[1, 2, 3, 4, 'lucy', 'debrah', ['america', 1], 1, 2, 3, 4]

In [103]:
#ii)to reverse elements in the list.
print("the reversed list: ",l[::-1]) #using slicing
l.reverse()
print("the reversed list: ",l) #using reverse

the reversed list:  [4, 3, 2, 1, ['america', 1], 'debrah', 'lucy', 4, 3, 2, 1]
the reversed list:  [4, 3, 2, 1, ['america', 1], 'debrah', 'lucy', 4, 3, 2, 1]

In [104]:
#iii)to display the same list of elements multiple times
print(l*3)

[4, 3, 2, 1, ['america', 1], 'debrah', 'lucy', 4, 3, 2, 1, 4, 3, 2, 1, ['america', 1], 'debrah', 'lucy', 4, 3, 2, 1, 4, 3, 2, 1, ['america', 1], 'debrah', 'lucy', 4, 3, 2, 1]

In [105]:
#iv)to concatinate two lists
l1=[1,2,0,9,8,7]
l2=[7,8,9,10]
l2+l1

[7, 8, 9, 10, 1, 2, 0, 9, 8, 7]

In [106]:
#v)to sort the elements in the list in ascending order.
l1.sort()
l1

[0, 1, 2, 7, 8, 9]

# 2.Manupulating using a tuple.
 i) to add new elements to the end of the tuple.
 ii)to reverse elements in the tuple.
 iii)to display the same tuple of elements multiple times
 iv)to concatinate two tuples.
 v)to sort the elements in the tuple in ascending order.

In [107]:
#i) to add new elements to the end of the tuple. 
t=(1,2,3,4,5)
t=t+(8,9)
t

(1, 2, 3, 4, 5, 8, 9)

In [108]:
#ii)to reverse elements in the tuple.
print(t[::-1]) #using slicing

(9, 8, 5, 4, 3, 2, 1)

In [109]:
#iii)to display the same tuple of elements multiple times 
t*3

(1, 2, 3, 4, 5, 8, 9, 1, 2, 3, 4, 5, 8, 9, 1, 2, 3, 4, 5, 8, 9)

In [110]:
#iv)to concatinate two tuples.
t4=(1,2,3,4,5)
t6=(7,8,9,10,11,12)
t4+t6

(1, 2, 3, 4, 5, 7, 8, 9, 10, 11, 12)

In [111]:
#v)to sort the elements in the tuple in ascending order.
t7=(11,10,4,60,54,11)
tuple(sorted(t7))

(4, 10, 11, 11, 54, 60)

# 3.write a python program to implement the following using list.
i)create a list with integers(minimum 10 numbers).
ii)how to display last number in the list.
iii)command for displaying the list values from [0:4]
iv)command for displaying in the list[2:]
v)command for displaying values in the list[:6]

In [112]:
#i)create a list with integers(minimum 10 numbers)
l=[1,2,3,4,5,6,7,8,9,10]

In [113]:
#ii)how to display last number in the list.
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [114]:
#iii)command for displaying the list values from [0:4]
print(l[0:4])

[1, 2, 3, 4]

In [115]:
#iv)command for displaying in the list[2:]
print(l[2:])

[3, 4, 5, 6, 7, 8, 9, 10]

In [116]:
#v)command for displaying values in the list[:6]
print(l[:6])

[1, 2, 3, 4, 5, 6]

# 4.write a program:tuple1=[10,50,20,40,30]
    i)to display the elements 10 and 50 from the tuple1
    ii)to display the length of tuple1.
    iii)to find the minimum element from tuple1.
    iv)to add all elements in the tuple1.
    v)to display the same tuple1 multiple times.

In [117]:
#i)to display the elements 10 and 50 from the tuple1
tuple1=[10,50,20,40,30]
print(tuple1[0:2])

[10, 50]

In [118]:
#ii)to display the length of tuple1.
print(len(tuple1))

5

In [119]:
#iii)to find the minimum element from tuple1.
print(min(tuple1))

10

In [120]:
#iv)to add all elements in the tuple1.
print(sum(tuple1))

150

In [121]:
#v)to display the same tuple1 multiple times.
for i in range(3):
    print(tuple(tuple1))

(10, 50, 20, 40, 30)
(10, 50, 20, 40, 30)
(10, 50, 20, 40, 30)

# 5.write a python program:
    i)to calculate the length of the string.
    ii)to reverse the words in a string.
    iii)to display the same string multiple times.
    iv)to concatinate two strings
    v)str1="south india",using string slicing to display "india"

In [122]:
#i)to calculate the length of the string.
str1="south india"
len(str1)

11

In [123]:
 #ii)to reverse the words in a string.
''.join(reversed(str1))

'aidni htuos'

In [124]:
#iii)to display the same string multiple times.
str1*3

'south indiasouth indiasouth india'

In [125]:
# iv)to concatinate two strings
str2="north india"
str1+' '+str2

'south india north india'

In [126]:
#v)str1="south india",using string slicing to display "india"
print(str1.split()[1])

india

# 6.preform the following 
i)creating a dictionary.
ii)accessing values and keys in the dictionary.
iii)updating the dictionary using a function.
iv)clear and delete the dictionary values

In [127]:
#i)creating a dictionary.
dict={"fname":"binus","lname":"kumar","age":22}

In [128]:
#ii)accessing values and keys in the dictionary.
for i in dict:
    print(i,dict[i])

fname binus
lname kumar
age 22

In [129]:
#iii)updating the dictionary using a function.
dict.update(city="jodhpur")
print(dict)

{'fname': 'binus', 'lname': 'kumar', 'age': 22, 'city': 'jodhpur'}

In [130]:
#iv)clear and delete the dictionary values
dict.clear()

# 7.python program to insert a number to any position in a list

In [131]:
n=int(input("input the postion: \t"))
n2=int(input("input the number you want to insert"))
l=[1,2,3,4,5,6,7,]
l.insert(n,n2)
print(l)

input the postion: 	5
input the number you want to insert10
[1, 2, 3, 4, 5, 10, 6, 7]

# 8.python program to delete a element by index in a list.

In [132]:
n=int(input("input the postion: \t"))
l=[1,2,3,4,5,6,7,]
l.pop(n)
print(l)

input the postion: 	3
[1, 2, 3, 5, 6, 7]

# 9.write a program to display a number from 1 to 100.

In [133]:
import random
random.randint(1,100)

11

# 10.write a python program to find the sum of all items in a tuple.

In [134]:
t=(1,2,2,4,5,6,6)
sum(t)

26

# 11.create a dictionary containing three lambda functions square,cube and square root.

In [135]:
# import math
n1=int(input("enter the number to be squared : "))
n2=int(input("enter the number to be cubed: "))
n3=int(input("enter the number whoes square root you want to find: "))
dict={"square":lambda n:n*n,"cube":lambda n:n*n*n,"squareroot":lambda n:math.sqrt(n)}
print(dict["square"](n1)+dict["cube"](n2)+dict["squareroot"](n3))

enter the number to be squared : 10
enter the number to be cubed: 12
enter the number whoes square root you want to find: 13
1831.605551275464

# 12.A list of words is given.Find the words from the list that have their second character in uppercase .

In [136]:
ls=['hello','Dear','hOw','ARe','yOu']
ls1=[]
for i in ls:
    if i[1].isupper():
        ls1.append(i)  
print(ls1)

['hOw', 'ARe', 'yOu']

# 13.A dictionary of names and their weights on the earth is given.find out how much they will wheigh on moon.
wmoon=(wearth*gmoon)/gearth
weightonearth={"john":45,"shelly":65,"marry":35}
gmoon=1.622
gearth=9.81

# Control Structures.

# 1.write a python program to find the first n prime numbers.

In [137]:
def isPrime(n):
    if(n==1 or n==0):
        return False
    
    for i in range(2,n):
        if(n%i==0):
            return False
    return True

N =int(input('enter the number till you want to find out: '));
for i in range(1,N+1):
    if(isPrime(i)):
        print(i)

enter the number till you want to find out: 2
2

# 2.write a program to calculate the salary of the employees.

In [138]:
basic_salary=float(input("enter the basic_Salary"))
hra=float(input("enter the hra"))
ta=float(input("enter the ta"))
da=float(input("enter the da"))
gross_salary=hra+ta+da+basic_salary
net_salary=gross_salary-(0.1*gross_salary)
print('gross_salary : ',gross_salary)
print('net_salary : ',net_salary)

enter the basic_Salary50000
enter the hra100000
enter the ta100000
enter the da10000
gross_salary :  260000.0
net_salary :  234000.0

# 3.write a python program to search for a given string in a list.

In [140]:
str1=input("enter the string you want to search in the list : ")
ls=['john','tom','nom','harry']
for i in ls:
    if i==str1:
        print("Found")

enter the string you want to search in the list : john
Found

# 4.write a python function that accepts a string and calculates the number of uppercase and lowecase letters.

In [144]:
str1=input("enter a string: ") #dout
def func(str1):
    l1=len(list(filter(lambda n:n.isupper,str1)))
    print("uppercase letters : ",l1)
    print("lower case letters: ",len(str1)-l1)
    
func(str1)

enter a string: THhhh
uppercase letters :  5
lower case letters:  0

# 5.write a python program to display the sum of odd and even numbers between 12 and 37.

In [145]:
even= 0
odd = 0
for num in range(12, 38):
    if num % 2 == 0: 
        even+= num
    else:
        odd+= num

print("Sum of even numbers:", even)
print("Sum of odd numbers:", odd)

Sum of even numbers: 312
Sum of odd numbers: 325

# 6.write a python program to print the table of any number.

In [146]:
number = int(input("Enter a number: "))
for i in range(1, 11):
    result = number * i
    print(result)

Enter a number: 10
10
20
30
40
50
60
70
80
90
100

# 7.write a python program to print the sum of 10 prime numbers.

In [147]:
def isPrime(n):
    if(n==1 or n==0):
        return False
    
    for i in range(2,n):
        if(n%i==0):
            return False
    return True
l=[]
N =int(input('enter the number till you want to find out: '));
for i in range(1,N+1):
    if(isPrime(i)):
        l.append(i)
print(sum(l))

enter the number till you want to find out: 11
28

# 8.write a python program to implement arthimetic operations using nested if statement.

In [148]:
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))
op= input("Enter the operation (+, -, *, /): ")

if op == '+':
    result = num1 + num2
elif op == '-':
    result = num1 - num2
elif op == '*':
    result = num1 * num2
elif op == '/':
    if num2 != 0:
        result = num1 / num2
    else:
        result = "Error: Division by zero"
else:
    result = "Error: Invalid operation"

print(result)

Enter the first number: 12
Enter the second number: 10
Enter the operation (+, -, *, /): +
22

# 9.write a python program to take a temparature in celcius and convert it into fahrenheit.

In [149]:
celsius = float(input("Enter temperature in Celsius: "))

fahrenheit = (celsius * 9/5) + 32

print(fahrenheit)

Enter temperature in Celsius: 12
53.6

# 10.write a python program to find minimum and maximum number in a list without using an inbuilt function.

In [150]:
lst=[1,2,3,4,5,6,7,8,9]
min1=lst[0]
max1=lst[0]
for num in lst:
    if num < min1:
         min1=num
    if num > max1:
        max1=num

print("min number",min1)
print("max number",max1)

min number 1
max number 9

# 11.Write a a python program to print the number of seconds in a month.

In [151]:
seconds = 60 *60 * 24 * 30
print(seconds)

2592000

# 12.write a python program to print the number of seconds in a year.

In [152]:
year = int(input("Enter a year: "))
if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    days = 366
else:
    days = 365 

# Calculate the number of seconds in the given year
seconds=days*24*60*60

# Print the result
print(seconds)

Enter a year: 2012
31622400

# 13.A high speed train is travelling at an average speed of 150 mph,how long will it take the train travelling at this speed to travel at this speed to travel from london to glasgow which is 414 miles away.

In [153]:
distance = 414
speed = 150

time= distance / speed
print(time)

2.76

# 14.write a python program that defines a variable called days_in_each_school_year and assign 192 to the variable.the program should print out the total hours that you spend in school from year 7 to year 11,if you spend 6hrs in school_days_each_year=192

In [154]:
years =int(11-7)
school_hours_each_year = 192
hours_Each_year=6
# Calculate the total hours spent in school from Year 7 to Year 11
hours = years * school_hours_each_year*hours_Each_year

# Print the result
print(hours)

4608

# 15.if the age of ram,sam and khan are entered through the keyboard,write a program to determine the eldest and youngest of the three.

In [155]:
ram= int(input("Enter the age of Ram: "))
sam= int(input("Enter the age of Sam: "))
khan= int(input("Enter the age of Khan: "))

if ram>=sam and ram>=khan:
    eldest = "Ram"
elif sam>= ram and sam>=khan:
    eldest = "Sam"
else:
    eldest = "Khan"

if ram<=sam and ram<=khan:
    youngest = "Ram"
elif sam <= ram and sam <= khan:
    youngest = "Sam"
else:
    youngest = "Khan"

# Print the results
print(f"The eldest is: {eldest}")
print(f"The youngest is: {youngest}")

Enter the age of Ram: 12
Enter the age of Sam: 13
Enter the age of Khan: 13
The eldest is: Sam
The youngest is: Ram

# 16.write a python program to rotate a list by right n times with and without the slicing technique.

# 17.write a python program to print the given patterns.

In [158]:
#pascals triangle
rows =int(input("enter the number of rows"))
for i in range(rows):
    num=1
    for j in range(i + 1):
        print(num, end=' ')
        num= num * (i - j) // (j + 1)
    print()

enter the number of rows5
1
1 1
1 2 1
1 3 3 1
1 4 6 4 1

In [157]:
# star pattern
rows =int(input("enter the number of rows"))
for i in range(1, rows + 1):
    print('*' * i)

enter the number of rows10
*
**
***
****
*****
******
*******
********
*********
**********

In [159]:
rows =int(input("enter the number of rows"))
for i in range(1,rows + 1):
    for j in range(rows - i):
        print(" ", end="")
    for k in range(2 * i - 1):
        print("*", end="")
    print()

enter the number of rows10
         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************
 *****************
*******************

In [160]:
text = "python"
for i in range(1, len(text) + 1):
    print(text[:i])

p
py
pyt
pyth
pytho
python